<div class="wrapper-padding">
  <mat-card>
    <mat-list>
      <mat-list-item>
        <p><b>ID:</b> {{ user.id }}</p>
      </mat-list-item>

      <mat-list-item>
        <p><b>Email:</b> {{ user.email }}</p>
      </mat-list-item>

      <mat-list-item>
        <p><b>Created at:</b> {{ user.createdAt | date:'d.M. yyyy H:m:s' }}</p>
      </mat-list-item>

      <mat-list-item>
        <p><b>Updated at:</b> {{ user.updatedAt | date:'d.M. yyyy H:m:s' }}</p>
      </mat-list-item>

      <mat-list-item>
        <p>
          <b>API key:</b> {{ user.apiKey }}
          <button
            (click)="generateApiKey()"
            mat-raised-button
            color="primary"
            [disabled]="isLoading">Generate new API key</button>
        </p>
      </mat-list-item>
    </mat-list>
    <p>API key is used to send weather log data from an Arduino weather station to the API server</p>
  </mat-card>
</div>