<div class="saa-chart" fxFlex>
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="data"
    [gradient]="gradient"
    schemeType="linear"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [timeline]="timeline"
    [yScaleMin]="yScaleMin"
    [yScaleMax]="yScaleMax"
    [xAxisTickFormatting]="dateTickFormatting"
	[yAxisTickFormatting]="valueTickFormatting"
	tooltipTemplate=""
	(select)="onSelect($event)">
	<ng-template #tooltipTemplate let-model="model">
		<div class="tooltip">
			<h2 class="mat-h2">{{ model.value }}</h2>
			<h3 class="mat-h3">{{ model.name | date:'d.M.yyyy HH:mm' }}</h3>
		</div>
	</ng-template>
  </ngx-charts-line-chart>
</div>

